#treatment-top {
  background-image: url("../../assets/images/coastal-dark_overlay1.jpg");
  background-position: center;
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0px; 
    padding: 75px;
}

#treatment-top h1 {
  font-size: 40px;
  font-weight: lighter;
}

#treatment-top p {
  width: 50%;
  font-size: 22px;
}

#treatment-top li {
  font-size: 20px;
}

#treatmentTwo {
  display: flex;
  justify-content: space-evenly;
  padding: 50px;
  align-items: center;
}

#treatmentTwo img {
  width: 50%;
  height: 50%;
  border-top: 2px solid #006699;
  border-bottom: 2px solid #006699;
  padding-top: 50px;
  padding-bottom: 50px;
}

#treatmentTwo-text {
  display: flex;
  flex-direction: column;
  color: #006699;
  width: 40%;
}

#treatmentTwo-text h2 {
  /* font-size: 30px; */
  font-weight: lighter;
}

#treatmentThree {
  display: flex;
  justify-content: space-evenly;
  padding: 50px;
  align-items: center;
  background-color: #006699;
  /* background-image: linear-gradient(#006699, white); */
}

#treatmentThree img {
  width: 45%;
  height: 45%;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  padding-top: 50px;
  padding-bottom: 50px;
}

#treatmentThree-text {
  display: flex;
  flex-direction: column;
  /* justify-content: flex-end; */
  color: white;
  width: 40%;
}

#treatmentThree-text h2 {
  font-weight: lighter;
}

#treatmentFour {
  display: flex;
  justify-content: space-evenly;
  padding: 50px;
  align-items: center;
}

#treatmentFour img {
  width: 45%;
  height: 45%;
}

#treatmentFour-text {
  display: flex;
  flex-direction: column;
  /* justify-content: flex-end; */
  color: #006699;
  width: 40%;
}

#treatmentFive {
  display: flex;
  justify-content: space-evenly;
  padding: 50px;
  align-items: center;
  background-color: #006699;
}

#treatmentFive img {
  width: 45%;
  height: 45%;
}

#treatmentFive-text {
  display: flex;
  flex-direction: column;
  /* justify-content: flex-end; */
  color: white;
  width: 40%;
}

#bottom-contact-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around !important;
  align-items: center;
  background-image: url('../../assets/images/AdobeStock_285583509.jpeg');
  background-position: center;
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  padding: 50px;
}

/* Extra small devices */
@media only screen and (min-width: 320px) and (max-width: 479px) {
  #treatment-top p {
    width: 100% !important;
  }
  
  #treatmentTwo img {
    display: none;
  }
  
  #treatmentTwo {
    padding: 0px !important;
  }
  
  #treatmentThree img {
    display: none;
  }
  
  #treatmentThree {
    padding: 0px !important;
  }
  
  #treatmentFour img {
    display: none;
  }
  
  #treatmentFour {
    padding: 0px !important;
  }
  
  #treatmentFive img {
    display: none;
  }
  
  #treatmentFive {
   padding: 20px !important;
  }

}

/* Portrait tablets and large phones */
@media only screen and (min-width: 480px) and (max-width: 768px) {
  #treatmentTwo-text h3 {
    font-size: 15px;
  }

  #treatmentTwo-text p {
    font-size: 10px;
  }

  #treatmentThree-text h3 {
    font-size: 15px;
  }

  #treatmentThree-text p {
    font-size: 10px;
  }

  #treatmentFour-text h3 {
    font-size: 15px;
  }

  #treatmentFour-text p {
    font-size: 10px;
  }

  #treatmentFive-text h3 {
    font-size: 15px;
  }

  #treatmentFive-text p {
    font-size: 12px;
  }

  #treatmentFive-text li {
    font-size: 10px;
  }
}

/* Landscape tablets, 769px + */
@media only screen and (min-width: 769px) and (max-width: 940px) {

}

