#treatment-top {
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
    url("../../assets/images/ian-schneider-XJfHMPJ0e-g-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0px;
  padding: 75px;
}

#treatment-top h1 {
  font-size: 40px;
  font-weight: lighter;
}

#treatment-top p {
  width: 50%;
  font-size: 22px;
}

#treatment-top li {
  font-size: 20px;
}

#treatmentTwo {
  display: flex;
  justify-content: space-evenly;
  padding: 50px;
  align-items: center;
}

#treatmentTwo img {
  width: 650px;
  height: 1000px;
  border-top: 2px solid #006699;
  border-bottom: 2px solid #006699;
  padding-top: 50px;
  padding-bottom: 50px;
}

#treatmentTwo-text {
  display: flex;
  flex-direction: column;
  color: #006699;
  width: 40%;
}

#treatmentTwo-text h2 {
  /* font-size: 30px; */
  font-weight: lighter;
}

#treatmentThree {
  display: flex;
  justify-content: space-evenly;
  padding: 50px;
  align-items: center;
  background-color: #006699;
  /* background-image: linear-gradient(#006699, white); */
}

#treatmentThree img {
  width: 650px;
  height: 1000px;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  padding-top: 50px;
  padding-bottom: 50px;
}

#treatmentThree-text {
  display: flex;
  flex-direction: column;
  /* justify-content: flex-end; */
  color: white;
  width: 40%;
}

#treatmentThree-text h2 {
  font-weight: lighter;
}

#treatmentFour {
  display: flex;
  justify-content: space-evenly;
  padding: 50px;
  align-items: center;
}

#treatmentFour img {
  width: 45%;
  height: 45%;
}

#treatmentFour-text {
  display: flex;
  flex-direction: column;
  /* justify-content: flex-end; */
  color: #006699;
  width: 40%;
}

#treatmentFive {
  display: flex;
  justify-content: space-evenly;
  padding: 50px;
  align-items: center;
  background-color: #006699;
}

#treatmentFive img {
  width: 45%;
  height: 45%;
}

#treatmentFive-text {
  display: flex;
  flex-direction: column;
  /* justify-content: flex-end; */
  color: white;
  width: 40%;
}
