#home-page video {
  height: 100%;
  width: 100%;
}

#home-splash h2 {
  position: absolute;
  top: 60%;
  right: 60%;
  transform: translate(50%, 50%);
  font-size: 40px;
  font-weight: lighter;
  color: white;
  padding-left: 50px;
}

#our-services {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

#our-services h3 {
  font-size: 30px;
  color: #006699;
  border: 2px solid;
  border-radius: 10px;
  padding: 20px !important;
}

#our-services-cards {
  display: flex;
  justify-content: space-evenly;
}

#our-services-cards .card {
  text-align: center;
  margin: 50px;
  padding: 0px 30px 30px 30px;
  color: #006699;
  font-size: 25px;
  width: 75%;
}

.service-icon {
  font-size: 50px;
}

#learn-more-btn {
  background-color:#006699;
  border: none;
  border-radius: 5px;
  padding: 12px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 50px;
}

#learn-more-btn a {
  text-decoration: none !important;
    color: white;
}

#learn-more-btn:hover {
  background-color: silver;
  transition: 0.5s ease;
}

