#contact-page {
  background-image: url("../../assets/images/AdobeStock_176673318.jpeg");
  background-position: center;
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}

#contact-page-header {
  color: white;
  font-size: 50px;
  display: flex;
  justify-content: center;
  padding: 50px;
  margin: 0px;
}

#cp-contact-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 75px;
}
