#nav-bar {
    display: flex;
    background-color: white;
    justify-content: flex-start;
}

#nav-logo {
    height: 30%;
    width: 30%;
    padding: 10px;
}

#nav-logo img {
    height: 75%;
    width: 75%;
}

#nav-links {
    display: flex;
    align-items: center;
}

#nav-links a {
    padding: 10px;
    font-size: 20px;
    text-decoration: none;
    color: #006699;
}

#nav-links a:hover {
    color: silver;
    transition: 0.3s ease;
}