#nav-bar {
    display: flex;
    background-color: white;
    justify-content: space-between;
    align-items: center;
}

#nav-logo {
    height: 25%;
    width: 25%;
    padding: 10px;
    margin: 0px;
}

#nav-logo img {
    height: 75%;
    width: 75%;
}

#main-nav-links {
    display: flex;
    align-items: center;
}

#main-nav-links a {
    padding: 10px;
    font-size: 20px;
    text-decoration: none;
    color: #006699;
}

#main-nav-links a:hover {
    color: silver;
    transition: 0.3s ease;
}

#contact-nav-link a{
    font-size: 20px;
    text-decoration: none;
    color: #006699;
    padding: 40px;
}

#contact-nav-link a:hover {
    color: silver;
    transition: 0.3s ease;
}