#insurance-top {
  background-image: url("../../assets/images/AdobeStock_293755970.webp");
  background-position: center;
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  /* margin: 0px !important; */
}

#insurance-top-text {
  width: 40%;
  padding: 50px;
}

#insurance-top-text h2 {
  color: white;
  font-size: 40px;
  font-weight: lighter;
}

#insurance-top-text p {
  font-size: 20px;
  color: white;
}

#insurance-logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

#insurance-logos img {
  padding: 50px;
  height: 15%;
  width: 15%;
}

/* Extra small devices */
@media only screen and (min-width: 320px) and (max-width: 479px) {
  #insurance-top-text {
    width: 75%;
  }

  #insurance-logos img {
    height: 100% !important;
    width: 100% !important;
  }

  #insurance-contact-form {
    margin: 50px;
  }

  #insurance-map {
    display: none;
  }
}

/* Portrait tablets and large phones, 600px + */
@media only screen and (min-width: 480px) and (max-width: 768px) {

  #insurance-top {
    background-position: bottom;
  }

  #insurance-map {
    display: none;
  }

  #insurance-logos img {
    height: 50% !important;
    width: 50% !important;
  }
}

/* Landscape tablets, 769px + */
@media only screen and (min-width: 769px) and (max-width: 940px) {

  #insurance-top {
    background-position: bottom;
  }

  #insurance-logos img {
    height: 30% !important;
    width: 30% !important;
  }

  #insurance-contact-container {
    flex-direction: column;
  }

  /* #insurance-map {
    margin: 0px;
  } */
}
