#insurance-top {
  background-image: url("../../assets/images/AdobeStock_194404871.jpeg");
  background-position: center;
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}

#insurance-top h2 {
  color: white;
  font-size: 40px;
  display: flex;
  justify-content: center;
  margin: 0px;
  padding: 30px;
}
