#footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
}

#footer-logo img {
    height: 25%;
    width: 25%;
}

#footer-nav-links {
    width: 100%;
    display: flex !important;
    flex-direction: column;
    align-items: flex-end !important;
}

#footer-nav-links a {
    text-decoration: none;
    color: #006699;
    font-size: 18px;
}

#footer-nav-links a:hover {
    color: silver;
    transition: 0.3s ease;
}