#footer {
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    padding: 20px;
}

#footer-logo {
    width: 300px;
  height: 80px;
}


#footer-navLinks {
    width: 100%;
    display: flex !important;
    flex-direction: column;
    align-items: flex-end !important;
}

#footer-navLinks a {
    text-decoration: none;
    color: #006699;
    font-size: 18px;
}

#footer-navLinks a:hover {
    color: silver;
    transition: 0.3s ease;
}


