* {
  font-family: Futura;
}

/* Extra small devices */
@media only screen and (min-width: 320px) and (max-width: 479px) {

  /* NAV */

  #nav-bar {
    flex-wrap: wrap;
    padding-bottom: 25px;
  }

  #nav-logo {
    height: 70% !important;
    width: 70% !important;
    display: flex;
    justify-content: center !important;
  }

  #main-nav-links {
    flex-wrap: wrap;
    justify-content: center;
  }

  /* HOME PAGE */

  #our-services {
    justify-content: center !important;
    text-align: center;
  }

  #our-services-header {
    width: 75%;
    text-align: center;
  }

  #our-services-cards {
    flex-direction: column;
    align-items: center;
  }

  #our-services-cards .card {
    margin: 0px !important;
  }


  /* CONTACT */

#bottom-contact-container {
  flex-direction: column;
  justify-content: center !important;
  align-items: center;
}

#contact-container {
  justify-content: center !important;
  align-items: center;
}

#contact-form {
  width: 50%;
}

#form-slot-3 textarea{
  width: 100%;
}

#google-map {
  display: none;
}

/* TREATMENT */

#treatment-top p {
  width: 100% !important;
}

#treatmentTwo img {
  display: none;
}

#treatmentTwo {
  padding: 0px !important;
}

#treatmentThree img {
  display: none;
}

#treatmentThree {
  padding: 0px !important;
}

#treatmentFour img {
  display: none;
}

#treatmentFour {
  padding: 0px !important;
}

#treatmentFive img {
  display: none;
}

#treatmentFive {
 padding: 20px !important;
}

/* MISSION */

#mission-top p {
  width: 100% !important;
}

/* ABOUT */

/* INSURANCE */

#insurance-logos img {
  height: 100% !important;
  width: 100% !important;
}

#insurance-map {
  display: none;
}

/* CONTACT */
#contact-info {
  display: none;
}

#google-map {
  display: none;
}

/* FOOTER */

#footer-logo img{
  height: 100% !important;
  width: 100% !important;
}

}

/* Portrait tablets and large phones, 600px + */
@media only screen and (min-width: 480px) and (max-width: 768px) {

  /* NAV */
  #nav-bar {
    flex-wrap: wrap;
    padding-bottom: 25px;
  }
#nav-logo {
  height: 50% !important;
    width: 50% !important;
    display: flex;
    justify-content: center !important;
};

  /* HOME */

  #info-and-map {
    display: none;
  }

  /* TREATMENT */

  #treatmentTwo-text h3 {
    font-size: 15px;
  }

  #treatmentTwo-text p {
    font-size: 10px;
  }

  #treatmentThree-text h3 {
    font-size: 15px;
  }

  #treatmentThree-text p {
    font-size: 10px;
  }

  #treatmentFour-text h3 {
    font-size: 15px;
  }

  #treatmentFour-text p {
    font-size: 10px;
  }

  #treatmentFive-text h3 {
    font-size: 15px;
  }

  #treatmentFive-text p {
    font-size: 12px;
  }

  #treatmentFive-text li {
    font-size: 10px;
  }



  /* INSURANCE */


  #insurance-map {
    display: none;
  }

#insurance-logos img {
  height: 50% !important;
  width: 50% !important;
}

};

/* Landscape tablets, 769px + */
 /* @media only screen and (max-width: 940px) {



} */

/* @media only screen and (min-width: 980px) and (max-width: 1024px) {

} */